@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

:root {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to bottom,
    rgba(5, 2, 62, 1) 0%,
    rgba(5, 5, 66, 1) 74%,
    rgba(19, 19, 114, 1) 100%
  );
  /* background-color: #330066; */
  /* 
  #feec9a
  #FFA500
  #330066
  */

  height: 100vh;
}

main {
  display: flex;
  gap: 2rem;
}

.container {
  background-color: rgba(19, 19, 114, 1);
  padding: 1rem;
  border-radius: 1rem;
}

span {
  color: #ffffff93;
  font-size: 7rem;
}
